@import url("pages.css");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


.formitem {
    margin: 20px 5px;
}

.form,
.form div {
    text-align: center;
    display: block;
}

.form div * {
    margin: 10px auto;
}

input:not([type=checkbox]):not([type=image]),
select,
textarea {
    display: block;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    min-width: 45%;
    font-family: "Kalam";
    font-weight: 300;
    font-style: normal;
}

textarea {
    min-width: 70%;
}

label,
legend,
.label-like {
    font-weight: bolder;
}

.obligatorymarker {
    color: red;
    font-size: smaller;
    display: none;
}