@import url("pages.css");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/
/*⁑⁑⁑⁑⁑⁑⁑    Estilos básicos y para móvil      ⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/
/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/

.first-fields-container {
    background-color: rgb(249, 245, 205);
    border: 8px solid darkred;
    border-radius: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.form .first-fields-container {
    padding-top: 30px;
}

.form .formitem {
    margin: 40px 5px;
}

.form,
.form div {
    text-align: center;
    display: block;
}

.form div * {
    margin: 10px auto;
}

input:not([type=checkbox]):not([type=image]),
select,
textarea {
    display: block;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    min-width: 80%;
    font-family: "Kalam";
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1cap;
}

label,
legend,
.label-like {
    font-weight: bolder;
    font-size: larger;
}

.obligatorymarker {
    color: rgb(222, 76, 76);
    font-size: smaller;
    display: none;
}


/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/
/*⁑⁑    Para pantallas más grandes (compus y tablets)      ⁑⁑*/
/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/

@media screen and (800px <= width) {
    .form .first-fields-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
    }
    .form .first-fields-container div {
        flex: 1;
    }
    .form .first-fields-container figure {
        flex: .5;
        justify-self: right;
        padding-left: 30px;
        padding-top: unset;
        margin-top: 55px;

    }
    .first-fields input {
        width: 75%;
    }

}
