@import url("wrapper.css");

/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/
/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑    Encabezados y texto      ⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/
/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/


h1,
h2,
p,
main li {
    margin: 1rem;
}

h1,
h2 {
    text-align: center;
}

h1 {
    color: rgb(89, 17, 128);
}

h2 {
    color: rgb(114, 62, 62);
}

.centrado {
    text-align: center;
}

/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/
/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑    Estilos para imagenes      ⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/
/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    color: darkslategray;
}

figure img {
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

figure img:not(.dimmerImage) {
    max-width: 90%;
    max-height: 40vh;
}

/* imágenes dimmereables */

.dimmereable img, .dimmerImage {
    animation: fadeInAnimationSlower ease 20s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimationSlower {
    0% {
        opacity: 0;
    }

    35% {
        opacity: 50;
    }

    90% {
        opacity: 80;
    }

    100% {
        opacity: 1;
    }
}

.dimmereable img:hover {
    border-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
    transition-duration: 800ms;
    cursor: pointer;

}

/* Botones que son imagenes */

.btn-img {
    border: 2px solid red;
    border-radius: var(--border-radius);
    margin: 1rem!important;
}

.btn-img:hover {
    border-color: green;
    transform: scale(1.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition-duration: 400ms;
}

/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/
/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑    Caja de randomidades      ⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/
/*⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑⁑*/

.boxy {
    width: 100%;
    padding: .2em;
    margin: auto;
    text-align: center;
    background-color: var(--boxy-bgcolor);
    border: var(--boxy-border);
    border-radius: var(--border-radius);
    font-size: clamp(1rem, 1.5rem, 2rem);
}

.datoDisplayer {
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;
}

.datoDisplayer .koala-nombre {
    font-size: clamp(1rem, 7vw, 3rem);
}

.datoDisplayer .koala-apellido {
    font-size: clamp(2rem, 12vw, 6rem);
    font-weight: 500;
    line-height: 100%;
    text-shadow: -1px -1px 0 white,
        1px -1px 0 darkblue,
        -1px 1px 0 black,
        1px 1px 0 darkred;
}