@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-height: 100vh;
    margin: auto;
    font-family: "Roboto Slab", serif;
    font-weight: 350;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
}

/*-----------------*/
/* HEADER & FOOTER */
/*-----------------*/

.header {
    text-align: center;
}


/* Mobile First */
.onlyBigScreens {
    visibility: hidden;
}

.navmenu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    display: none;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition-duration: 400ms;
    font-size: large;
    list-style: none;
}

.navmenu a,
footer a {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

.navmenu a:hover,
footer a:hover {
    color: red;
    border-bottom: 1px solid red;
    transition-duration: 300ms;
}

footer {
    text-align: center;
    padding: 50px 0 30px 0;
    font-size: smaller;
}

/*-------------*/
/*    MAIN     */
/*-------------*/

main {
    flex: 1;
    flex-direction: column;
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 20px 10px;
    border: 2px solid gold;
    border-radius: 15px;
}

/*-------------*/
/*    DIMMER   */
/*-------------*/

#dimmer {
    background-color: rgba(0, 0, 0, 95%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    color: white;
    visibility: hidden;
    cursor: pointer;
    transition-duration: 200ms;
}

#dimmer figure img {
    max-width: 90vw;
    max-height: 90vh;
    padding: 10px;
}

/*-------------*/
/* MEDIA QUERY */
/*-------------*/

/* celulares */
@media screen and (width <=480px) {
    body {
        background-color: greenyellow;
    }

    .navmenu {
        width: 100%;
        margin: 0;
    }

}

/* tablets */
@media screen and (480px < width < 800px) {}

/* computadoras */
@media screen and (width >=800px) {}

/* tablets & computadoras */
@media screen and (600px < width) {
    .onlySmallScreens {
        display: none;
    }

    .onlyBigScreens {
        visibility: visible;
    }

    .navmenu {
        /* Resetear valores de navbar mobile-first */
        height: unset;
        width: unset;
        position: unset;
        top: unset;
        left: unset;
        background-color: unset;
        align-items: unset;
        text-align: unset;
        font-size: unset;
        display: flex!important;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 650px;
        justify-content: space-evenly;
        padding: 5px;
    }

}